html,
body {
  height: 100%;
  margin: 0;
}
.bigdiv {
  background: url("pictures/home.jpg") no-repeat center center fixed;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center;
  background-repeat: no-repeat;
  /* display: flex; */
  /* position: relative; */
  /* background-size: cover;
  margin-top: 0.1%; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #3f51b5;
}

.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.navbar-link:hover {
  color: #f1c40f;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    z-index: 1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .navbar-toggle {
    display: block;
  }

  .open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-link {
    display: block;
    padding: 10px;
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
  margin-left: 60px;
}

/* CSS for individual card */
.card {
  background-color: rgb(227, 223, 94);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px;
}
.cardbutton {
  background-color: #3f51b5; /* Green */
  border: none;
  color: white;
  /* padding: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/* CSS for card content */
.card p,
.card h2 {
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #333333;
}

.card h2 {
  font-size: 18px;
  color: #ff0000;
  margin-top: 8px;
}
.bold {
  font-weight: bold;
}
/* logincss */
.logincontainer {
  margin-left: 100px;
  margin-top: 20px;
}
/* register.css */
.registercontainer {
  margin-left: 20%;
  margin-top: 20px;
}
