.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #3f51b5;
}

.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.navbar-link:hover {
  color: #f1c40f;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    z-index: 1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .navbar-toggle {
    display: block;
  }

  .open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-link {
    display: block;
    padding: 10px;
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* CSS for individual card */
.card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px;
}

/* CSS for card content */
.card p,
.card h2 {
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #333333;
}

.card h2 {
  font-size: 18px;
  color: #ff0000;
  margin-top: 8px;
}
.bold {
  font-weight: bold;
}
