.bigdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 200px;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}
